body
{
    background-color: lightgray;
}
header
{
    background-image: url(Img/header.jpg);
    background-repeat: no-repeat;
    height: 250px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 3%;
    padding-left: 15%;
}
fieldset
{
    position: absolute;
    left: 25.2%;
    top: 26%;
    width: 48.2%;
    background-color: white;
    border: none;
}
h1
{
    padding-right: 150px;
}
p
{
    padding-right: 240px;
}
.navi
{
    display: inline;
    padding-left: 50px;
}
.mm
{
    list-style: none;
    color: lightcoral;
    padding-bottom: 15px;
    font-size: large;
    padding-top: 20px;
    padding-left: 40px;
}
.divblock
{
    border:solid 1px;
    width: 200px;
    height: 200px;
}
.ulmi
{
    left: 50px;
    border: solid 1px;
    width: 160px;
    height: 300px;
}
.mi
{
    list-style: none;
    padding-bottom: 6px;
    padding-left: 1px;
}
.blocktxt
{
    list-style: none;
    padding-top: px;
    padding-bottom: 8px;
    padding-left: 15px;
}